gRPC Name Resolution docs invalid example template string

The template for the URL is given as `dns:[//authority/]host[:port]` - however, in reality it's `dns:[//authority]/host[:port]` - because the `/host` is actually treated as URL path part internally, see e.g. https://github.com/grpc/grpc-java/blob/master/core/src/main/java/io/grpc/internal/DnsNameResolverProvider.java#L56 :
```
Preconditions.checkArgument(targetPath.startsWith("/"),
          "the path component (%s) of the target (%s) must start with '/'", targetPath, targetUri);
```

Experiments with grpc-java show that both `dns:///foobar` and `dns:/foobar` are OK, while `dns:foobar` is not, which confirms the above (i.e. doc mistake).

The doc is correct.  According to RFC-3986, `dns:host` is a valid URI.

I believe the issue here is that Java's URI parser implementation is too picky.  I seem to recall @ejona86 telling me that this is because it implements an older version of the URI spec that predates RFC-3986.  I'm not sure how easy this is to fix in grpc-java -- maybe there's an RFC-3986-compliant URI parser library available for Java that it could use instead?  I suggest you file an issue on the grpc/grpc-java repo if you want them to fix this.

Oh, sorry -- I misread the description.  I thought it was saying that `dns:/host` was okay but `dns:host` was not, whereas it's actually saying the opposite.

At the end of the day, I don't think I care too much whether `dns:/host` works, because it's not really the normal way that you would expect to write this kind of URI; the slash is really useful only when the URI includes an authority.  But that having been said, I would argue from a technical perspective that the C-core behavior is correct here.  Semantically, what we're doing is (1) parsing the URI as per RFC-3986 and then (2) evaluating the path part of the URI as a name to resolve in DNS.  Step (2) has to strip off the leading slash from the path, because that behavior is required for a URI of the form `dns://authority/host`.  And step (2) is done outside of the URI parser and therefore really shouldn't know or care whether the URI had an authority.

Note that we would have to actually go out of our way to avoid stripping off the leading slash in the `dns:/host` case.  And it wouldn't be sufficient to just check that the URI's authority is empty, because we would want to strip the slash for a URI like `dns:///host`.  We'd probably have to change our URI parser itself to differentiate between the case where the URI is empty vs. not present.  I don't think it's worth adding that complexity just to disallow something that is semantically fine, even if it is a bit weird.

I don't think this case is important enough to force Java to do the same thing.  But I do think the C-core behavior makes the most sense.

@markdroth my 5c: I do agree that `dns:///foobar` is awkward, as well as `dns:/foobar`, and that both are confusing to many people (based on both my work colleagues and internet queries). I also do agree that there is no hard requirement for grpc-java and grpc-c to be strictly aligned on the DNS URL format they accept - although I'd argue they should, because with two official reference implementation differing on something like this, people will be confused.

In any case, the docs should be updated to at least mention this. ATM, they aren't reflecting the de facto official (and perhaps most used) implementation, so they are wrong. https://grpc.github.io/grpc/core/md_doc_naming.html doesn't mention "this information applies only to C gRPC implementation", it's not even aligned with https://grpc.io/docs/guides/custom-name-resolution/ , which furthers the confusion here.

As an aside,
>I don't think this case is important enough to force Java to do the same thing. 

- how should we proceed then? Just ignore the fact that we have two de facto official standards used but only one is documented in the core?

@ejona86 are there any practical problems that would be associated in making the gRPC-Java parsing of the URLs more relaxed to allow `dns:host` syntax? (`dns://host` is obviously more problematic, but also reasonable IMO)

> I thought it was saying that dns:/host was okay but dns:host was not, whereas it's actually saying the opposite.

No, it is dns:/host works, but not dns:host. Java has never had any _plan_ to support the dns:host. We accept C does it and Java doesn't and users are best off using dns:///host or dns:/host. The documentation referenced was written in a weak way on purpose because we didn't agree.

@ejona86 wouldn't that imply that the "common" definition should be as conservative as possible, i.e. `dns:[//authority]/host[:port]` - because that's supported both by C and by Java if I understand correctly?

@ejona86 I don't think it makes any sense at all to not support `dns:host`.  If you support `dns:/host` but not `dns:host`, you are saying that the slash is *required* in the path, which makes no sense, since the slash is not useful to begin with.  The only reason it's ever there is because it's a required separator in the case where the URI includes an authority.  I think it's very clearly an optional part that should be ignored if present but not required.

It's worth noting that while [RFC-3986](https://datatracker.ietf.org/doc/html/rfc3986) allows both `dns:name` and `dns:/name`, [RFC-4501](https://datatracker.ietf.org/doc/html/rfc4501) says that the spec is `dns:[//authority/]name`, which means that `dns:name` is valid but `dns:/name` is not.  I think it's clear that `dns:/name` is a weird edge case that C-core happens to accept but that is arguably not intended.  I don't think there is any reasonable reading of these RFCs that says that `dns:name` is not okay.

I think our spec is correct as-is, and I consider it a bug that grpc-java does not support `dns:name`.

@FyiurAmron I don't see anything in https://grpc.io/docs/guides/custom-name-resolution/ that conflicts with the naming spec.

Hm. It's as @markdroth says, the RFC-4501 `dns` spec is explicit about it, `dns:[//authority/]domain[?CLASS=class;TYPE=type]` . However, if we assume that's our source of truth (and I'd say it's the best normative source we can reasonably expect to get), then saying "These target strings follow the format for [RFC-3986](https://datatracker.ietf.org/doc/html/rfc3986) URIs" is even more misleading. Which RFC should and could be normative here then? If we assume the grpc.io docs are right by saying "RFC-3986", then 1. `dns:name` should probably be allowed by gRPC-Java as valid, although `dns:/name` would still remain valid, and 2. `md_doc_naming` should thus document `dns:/name` as valid. If we assume the docs are wrong and it's RFC-4501, then grpc.io should just say so, and then `dns:/name` should be invalid in gRPC-Java and `dns:name` would _need_ to be supported in gRPC-Java to be up to spec.

The examples given in the RFC-4501 are completely explicit about it:

```
  dns:www.example.org
  dns://192.168.1.1/ftp.example.org?type=A
```

Etc. 

Please correct me if I'm wrong, but this is what I was able to piece together:

== valid `dns` syntax according to ==

= RFC-3986 =
dns:foo
dns://bar/foo
dns:///foo
dns:/foo

= RFC-4501 =
dns:foo
dns://bar/foo

= gRPC core =
dns:foo
dns://bar/foo

= gRPC.io =
dns:foo
dns://bar/foo
dns:///foo

= gRPC-C =
dns:foo
dns://bar/foo
dns:///foo
dns:/foo

= gRPC-Java =
dns://bar/foo
dns:///foo
dns:/foo


I don't actually think there's any real conflict between RFC-3986 and RFC-4501.  RFC-3986 defines a general-purpose URI syntax, which individual URI schemes can refine, as per [RFC-3986 section 1.1.1](https://datatracker.ietf.org/doc/html/rfc3986#section-1.1.1):

> This specification defines those elements of the URI syntax that are required of all URI schemes or are common to many URI schemes.  It thus defines the syntax and semantics needed to implement a scheme-independent parsing mechanism for URI references, by which the scheme-dependent handling of a URI can be postponed until the scheme-dependent semantics are needed.  Likewise, protocols and data formats that make use of URI references can refer to this specification as a definition for the range of syntax allowed for all URIs, including those schemes that have yet to be defined.  This decouples the evolution of identification schemes from the evolution of protocols, data formats, and implementations that make use of URIs.

In other words, a specific individual URI scheme may not support the full range of permutations supported by the general-purpose URI syntax, and the "dns" scheme defined in RFC-4501 is an example of such a scheme.

In gRPC, we don't actually claim to support RFC-4501 explicitly; we claim only to support the general-purpose RFC-3986.  I do think it's important that all gRPC implementations accept the URI forms that are valid in RFC-4501, since I think users will expect those to work.  However, I don't think it's that important that we explicitly reject anything that does not exactly match RFC-4501, nor do I think it's that important for all gRPC implementations to have the same behavior for those cases.

What this means in practice is:
- `dns:name`: I think all gRPC implementations should support this, since it's supported in RFC-4501.
- `dns:///name`: This is not valid in RFC-4501, but I think the intent is clear, since there really is no semantic difference between an empty authority and an unset authority.  I think this is a reasonable form that users would expect to work.  I believe that all gRPC implementations support this today, and I think it would cause problems to break this.
- `dns:/name`: This form is technically allowed by RFC-3986, but it's really non-sensical, and I can't think of any reason why anyone would use it in practice, because the leading slash is totally unnecessary if the URI does not have an authority.  I don't feel the need to change C-core to go out of its way to reject this, but I also don't care if other gRPC implementations reject it.

In terms of our documentation, the docs are really aimed at describing what URIs are allowed, not what URIs are rejected.  I think if you view them in that light, they are correct as-is.  I think the docs would wind up being more confusing if we attempted to document that different implementations differ in their handling of `dns:/name`.

> In other words, a specific individual URI scheme may not support the full range of permutations supported by the general-purpose URI syntax, and the "dns" scheme defined in RFC-4501 is an example of such a scheme.

Yes, I fully agree, that's my point here: if it's a subset that it's supported, then it's usually the subset that is announced, not the superset, for obvious reasons.

> In gRPC, we don't actually claim to support RFC-4501 explicitly; we claim only to support the general-purpose RFC-3986. I do think it's important that all gRPC implementations accept the URI forms that are valid in RFC-4501, since I think users will expect those to work. However, I don't think it's that important that we explicitly reject anything that does not exactly match RFC-4501, nor do I think it's that important for all gRPC implementations to have the same behavior for those cases.

Well, having e.g. all of four forms allowed is still supporting RFC-4501 while also permitting general RFC-3986-like forms, right? I'd say that mentioning RFC-4501 in the docs would be beneficial then, even with the remark that it's actually just a more strict definition and that gRPC supports more by design.

> What this means in practice is:
> 
> * `dns:name`: I think all gRPC implementations should support this, since it's supported in RFC-4501.
> * `dns:///name`: This is not valid in RFC-4501, but I think the intent is clear, since there really is no semantic difference between an empty authority and an unset authority.  I think this is a reasonable form that users would expect to work.  I believe that all gRPC implementations support this today, and I think it would cause problems to break this.
> * `dns:/name`: This form is technically allowed by RFC-3986, but it's really non-sensical, and I can't think of any reason why anyone would use it in practice, because the leading slash is totally unnecessary if the URI does not have an authority.  I don't feel the need to change C-core to go out of its way to reject this, but I also don't care if other gRPC implementations reject it.

Hard to disagree, TBH. `dns:///name` is the only form that is actually valid everywhere _except_ RFC-4501, so it's still the best "average" form we have nowadays :D

> In terms of our documentation, the docs are really aimed at describing what URIs are allowed, not what URIs are rejected. I think if you view them in that light, they are correct as-is. I think the docs would wind up being more confusing if we attempted to document that different implementations differ in their handling of `dns:/name`.

Well, I'd at least mention RFC-4501 in them then. It's really hard to consider something normative for a solution if it's not mentioned even once in the official docs, right?

The problem with mentioning RFC-4501 is that we can't actually say that we support all forms specified there, because we don't support the class or type fields.

I think it's clearer to just directly document what we do support, and I believe that our documentation already does that.

> I think it's clearer to just directly document what we do support, and I believe that our documentation already does that.

I'd be inclined to agree, if not for the fact that it doesn't, because the de facto standard implementation in Java doesn't, at least at this particular moment :D

But yeah, this point is kind of moot ATM, agreed, although this is basically a Catch-22 case; we don't mention RFC-4501 because we're not fully supporting it, but we won't support it more fully because it's not exactly normative for us, and it's not really normative, because it's not mentioned.

I rest my case.

To be clear, I am not saying that we should support `dns:name` format only because it's documented in RFC-4501; I am saying that we should support it because it's a form that users should be able to expect to work, and I was citing the fact that that form is supported in RFC-4501 as a justification for that assertion.

I do not think the general statement that we support RFC-4501 is correct or useful, since we clearly do not and will not support all of the forms documented there.

To match c-core's behavior, grpc-java v1.83.0 accepts the path-rootless flavor of target URI, i.e. `dns:foo.googleapis.com` when `GRPC_ENABLE_RFC3986_URIS` is enabled (the default).