Optional “sub-format” in the spec violates RFC6838

[Section 4.2.8 of RFC 6838](https://datatracker.ietf.org/doc/html/rfc6838#section-4.2.8) discusses the use of “+…” suffixes on media types (called “Structured Syntax Name Suffixes”). In particular, it includes two statements that make gRPC’s use of such suffixes incorrect:

1. **Media types MUST NOT be given names incorporating suffixes for structured syntaxes they do not actually employ.**

   gRPC’s potential use of `+json` falls into this category. This suffix indicates that the content is structurally JSON. But that is not actually true for `application/grpc+json`. Instead, the content is a stream of messages, each with a 5-byte prefix and then a chunk of data that is structurally JSON. This is also true of any other suffix that might be used, so gRPC’s stream format would not be structurally compatible with any other structured syntax (except, possibly, by luck or accident).
2. **"+suffix" constructs for as-yet unregistered structured syntaxes SHOULD NOT be used, given the possibility of conflicts with future suffix definitions.**

   gRPC’s potential use of *any other* suffix (including `+proto`) falls into this camp: `+proto` is not a registered suffix and thus should not be used.

While this, admittedly, does not generally cause issues in practice, it could pose issues for the future. For example, if some JSON parser implementation had a vulnerability in the future, a rule for a WAF might attempt to analyze JSON payloads to prevent problematic data from being sent to potentially vulnerable backends. Such a rule could cause serious issues if there is also any traffic that employs the `application/grpc+json` media type.

This discussion has happened multiple times across some repos over some years, so it has been scattered discussion. This mostly impacts Go, because it is the only thing implementing the feature, and no other language is looking at implementing it. See my comment where I essentially agree with you:
https://github.com/grpc/grpc-java/issues/10959#issuecomment-2015352359