TLS: IPv6 link-local with zone-id fails peer host verification

I found this blurb in RFC6125

>    When the reference identity is an IP address, the identity MUST be
   converted to the "network byte order" octet string representation
   [IP] [IPv6].  For IP Version 4, as specified in RFC 791, the octet
   string will contain exactly four octets.  For IP Version 6, as
   specified in RFC 2460, the octet string will contain exactly sixteen
   octets.  This octet string is then compared against subjectAltName
   values of type iPAddress.  A match occurs if the reference identity
   octet string and value octet strings are identical.

but it's way at the end so I'm not sure how official it is. In any event, it strongly indicates that IP addresses must be compared exactly, only based on their address bits. If you give grpc a IPv6 link-local of the form `fe80::xx:xxxx%en0`, the scope-id is included in `name` during comparison: 

    tsi_ssl_peer_matches_name(const tsi_peer* peer, const char* name)

This means grpc does not work properly with hosts that present a certificate that includes their link-local address. To my knowledge, there is no theoretical restriction against such a scenario. You can't put zone-id in the SAN because that doesn't make sense, either.

 

